:root {
    --bg-opacity: 0.5; /* nastav průhlednost zde (0 = průhledné, 1 = plné) */
}

/* Globální pozadí */
body {
    background-image: url("grafika/pozadi_hlavni.PNG");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

/* Poloprůhledná vrstva přes obsah */
main, .block-container {
    background-color: rgba(255, 255, 255, var(--bg-opacity));
    padding: 1rem 2rem;
    border-radius: 12px;
}

/* Ostatní stylování */
.main {
    max-width: 80%;
    margin: auto;
}

h1 {
    font-size: 45px !important;
    margin-top: 0 !important;
}

textarea {
    font-family: monospace;
}
