:root {
    --background-url: "https://raw.githubusercontent.com/davidopatsky/blank-app/main/grafika/pozadi_hlavni.PNG";
}

body {
    background-image: url(var(--background-url));
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

/* ostatní styly */
main, .block-container {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 1rem 2rem;
    border-radius: 12px;
}
